:host {
    flex: 1;

    border-radius: 5px;
    display: flex;
    padding: 0.5rem;

    background: var(--mat-sys-surface-variant);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-wrap: nowrap;
}

.amount {
    font-weight: 500;
}

.title {
    font-size: 14px;
}
