:host {
    position: absolute;
    bottom: 2px;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;

    background: var(--mat-sys-surface-variant);
}

.click-area {
    flex: 1;
    display: flex;
    justify-content: center;
}

.disabled {
    background: var(--mat-sys-surface-variant);
    opacity: 0.5;
    pointer-events: none;
}
