@use "../../../assets/mixins.scss";

:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 0.1rem;
    padding-bottom: 2px;
    gap: 2px;
    position: relative;
}

app-budget-toolbar {
    height: 3rem;
    flex-shrink: 0;
}

.scrollable-area {
    @include mixins.scroll-without-scrollbar();

    display: flex;
    flex-direction: column;
    background: transparent;
}
