@use "../../../../assets/mixins.scss";

:host {
    display: flex;
    width: 100%;
}

.menu-items {
    @include mixins.scroll-without-scrollbar();

    display: flex;
    flex-direction: row-reverse;
    width: 80%;
}
