@use "@angular/material" as mat;
@use "theme/variables.scss";
@use "theme/overrides/overrides.scss";

/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;

    background: var(--mat-sys-background);
    color: var(--mat-sys-on-surface);

    font-family: var(--mat-sys-body-medium-font);
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;

    background: var(--mat-sys-surface);
}

router-outlet + * {
    flex: 1 1 auto;
    background: var(--mat-sys-surface);
    overflow: auto;
}

.light-theme {
    @include mat.theme(variables.$light-theme);
    @include overrides.theme-overrides();
}

.dark-theme {
    @include mat.theme(variables.$dark-theme);
    @include overrides.theme-overrides();
}
