:host {
    display: flex;
    flex-direction: column;
    height: 6rem;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    background: var(--mat-sys-surface-variant);
}

.mat-mdc-icon-button {
    top: -10px;

    --mat-icon-button-icon-size: 60px;
    --mat-icon-button-state-layer-size: 60px;
    --mat-icon-button-icon-color: var(--mat-sys-on-primary);
    background: var(--mat-sys-primary);

    .material-icons {
        font-size: var(--mat-icon-button-icon-size);
    }

    .mat-icon {
        height: var(--mat-icon-button-state-layer-size);
        width: var(--mat-icon-button-state-layer-size);
    }
}

.top {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.bottom {
    flex: 1;
}
