{
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "angular"
            }
        }
    ],
    "tabWidth": 4,
    "printWidth": 180,
    "plugins": ["@angular-eslint/eslint-plugin-template"]
}
