:host {
    display: flex;
    align-items: center;
    height: 5rem;
    flex-shrink: 0;
    padding: 0 0.5rem;
    gap: 0.5rem;
    background: var(--mat-sys-surface-variant);
}
.title {
    flex: 1;
}

* {
    font-size: 24px;
}

.logout {
    justify-self: right;
}
