<form [formGroup]="expenseForm" (ngSubmit)="submitClick()">
    <!-- Category -->
    <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
            @for (c of categories; track c) {
                <mat-option [value]="c">{{ expenseCategoryEnum[c] }}</mat-option>
            }
        </mat-select>
        @if (expenseForm.get("category")?.hasError("required")) {
            <mat-error> Category is required </mat-error>
        }
    </mat-form-field>

    <!-- Label -->
    <mat-form-field appearance="outline">
        <mat-label>Label</mat-label>
        <input matInput formControlName="label" placeholder="Enter expense label" />
        @if (expenseForm.get("label")?.hasError("required")) {
            <mat-error> Label is required </mat-error>
        }
    </mat-form-field>

    <!-- Amount -->
    <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount" placeholder="Enter amount" />
        @if (expenseForm.get("amount")?.hasError("required")) {
            <mat-error> Amount is required </mat-error>
        }
    </mat-form-field>

    <!-- Date -->
    <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (expenseForm.get("date")?.hasError("required")) {
            <mat-error> Date is required </mat-error>
        }
    </mat-form-field>

    <!-- Payment Method -->
    <mat-form-field appearance="outline">
        <mat-label>Payment Method</mat-label>
        <mat-select formControlName="paymentMethod">
            @for (p of paymentMethods; track p) {
                <mat-option [value]="p">{{ paymentMethodEnum[p] }}</mat-option>
            }
        </mat-select>
        @if (expenseForm.get("paymentMethod")?.hasError("required")) {
            <mat-error> Payment method is required </mat-error>
        }
    </mat-form-field>

    <!-- Submit -->
    <button mat-raised-button color="primary" type="submit" [disabled]="expenseForm.invalid" class="add-button">Add Expense</button>
</form>
